In [81]:
import wget
import pandas as pd
from sqlalchemy import create_engine, select

In [44]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [23]:
engine.connect()

In [84]:
%load_ext sql

Deploy AI and data apps for free on Ploomber Cloud! Learn more: https://docs.cloud.ploomber.io/en/latest/quickstart/signup.html

In [86]:
%sql postgresql://root:root@localhost:5432/ny_taxi

Connecting to 'postgresql://root:***@localhost:5432/ny_taxi'

In [114]:
%sql select * from yellow_taxi_lookup where "LocationID" ='7' or "LocationID" ='132'

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

2 rows affected.

+-------+------------+---------+-------------+--------------+
| index | LocationID | Borough |     Zone    | service_zone |
+-------+------------+---------+-------------+--------------+
|   6   |     7      |  Queens |   Astoria   |  Boro Zone   |
|  131  |    132     |  Queens | JFK Airport |   Airports   |
+-------+------------+---------+-------------+--------------+

In [113]:
%sql select "DOLocationID", tip_amount from yellow_taxi_trips where "PULocationID"='7' order by tip_amount desc

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

18279 rows affected.

+--------------+------------+
| DOLocationID | tip_amount |
+--------------+------------+
|     132      |   62.31    |
|     260      |    30.0    |
|     137      |    28.0    |
|     264      |    25.0    |
|     239      |    20.0    |
|      7       |    20.0    |
|     260      |   19.97    |
|     265      |   19.28    |
|      1       |   19.01    |
|     245      |   18.14    |
+--------------+------------+
Truncated to displaylimit of 10.

In [108]:
%sql select * from yellow_taxi_trips limit 5

Running query in 'postgresql://root:***@localhost:5432/ny_taxi'

5 rows affected.

+--------+----------+----------------------+-----------------------+--------------------+------------+--------------+--------------+-----------------+---------------+-------------+-------+---------+------------+--------------+-----------+-----------------------+--------------+--------------+-----------+----------------------+
| index  | VendorID | lpep_pickup_datetime | lpep_dropoff_datetime | store_and_fwd_flag | RatecodeID | PULocationID | DOLocationID | passenger_count | trip_distance | fare_amount | extra | mta_tax | tip_amount | tolls_amount | ehail_fee | improvement_surcharge | total_amount | payment_type | trip_type | congestion_surcharge |
+--------+----------+----------------------+-----------------------+--------------------+------------+--------------+--------------+-----------------+---------------+-------------+-------+---------+------------+--------------+-----------+-----------------------+--------------+--------------+-----------+----------------------+
| 218448 |    2     | 2019-09-17 23:08:14  |  2019-09-17 23:13:26  |         N          |     1      |     129      |     129      |        1        |      0.76     |     5.5     |  0.5  |   0.5   |    0.0     |     0.0      |    None   |          0.3          |     6.8      |      2       |     1     |         0.0          |
| 218449 |    2     | 2019-09-17 23:24:08  |  2019-09-17 23:35:57  |         N          |     1      |      83      |     160      |        1        |      3.11     |     11.5    |  0.5  |   0.5   |    0.0     |     0.0      |    None   |          0.3          |     12.8     |      2       |     1     |         0.0          |
| 218450 |    2     | 2019-09-17 23:20:56  |  2019-09-17 23:24:52  |         N          |     1      |      82      |     129      |        1        |      0.57     |     4.5     |  0.5  |   0.5   |    0.0     |     0.0      |    None   |          0.3          |     5.8      |      2       |     1     |         0.0          |
| 218451 |    2     | 2019-09-17 23:33:48  |  2019-09-17 23:41:19  |         N          |     1      |      82      |     129      |        1        |      1.17     |     7.0     |  0.5  |   0.5   |    0.0     |     0.0      |    None   |          0.3          |     8.3      |      2       |     1     |         0.0          |
| 218452 |    2     | 2019-09-17 23:55:30  |  2019-09-18 00:00:13  |         N          |     1      |      82      |     129      |        1        |      1.01     |     5.5     |  0.5  |   0.5   |    0.0     |     0.0      |    None   |          0.3          |     6.8      |      2       |     1     |         0.0          |
+--------+----------+----------------------+-----------------------+--------------------+------------+--------------+--------------+-----------------+---------------+-------------+-------+---------+------------+--------------+-----------+-----------------------+--------------+--------------+-----------+----------------------+

In [40]:
# Count of taxi trips

query = """ 
Select count(*) from yellow_taxi_trips 
where date(lpep_pickup_datetime)='2019-09-18' and
date(lpep_dropoff_datetime) ='2019-09-18';
"""

pd.read_sql(query, con=engine)

   count
0  15612

In [56]:

query = """ 
Select index, sum(total_amount) from yellow_taxi_trips 
where date(lpep_pickup_datetime)='2019-09-18' and
date(lpep_dropoff_datetime) ='2019-09-18'
group by index;
"""

pd.read_sql(query, con=engine)

        index    sum
0      217634   8.30
1      218133   8.30
2      218134   7.80
3      218254   8.30
4      218281  27.80
...       ...    ...
15607  423824  26.36
15608  423825  60.00
15609  423828  25.50
15610  423830  27.37
15611  423831  18.50

[15612 rows x 2 columns]

In [82]:
query = """ 
select a.*, b.Borough from  yellow_taxi_trips a
inner join yellow_taxi_lookup b on a.PULocationID = b.PULocationID
limit 5
;
"""

pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column a.pulocationid does not exist
LINE 3: inner join yellow_taxi_lookup b on a.PULocationID = b.PULoca...
                                           ^

[SQL:
select a.*, b.Borough from  yellow_taxi_trips a
inner join yellow_taxi_lookup b on a.PULocationID = b.PULocationID
limit 5
;
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [83]:
query = """ 
Select * from yellow_taxi_trips as a
where a.PULocationID = '7';
"""

pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column a.pulocationid does not exist
LINE 3: where a.PULocationID = '7';
              ^

[SQL:
Select * from yellow_taxi_trips as a
where a.PULocationID = '7';
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [78]:
query = """ 
Select * from yellow_taxi_lookup 
;
"""

pd.read_sql(query, con=engine)

     index  LocationID        Borough                     Zone service_zone
0        0           1            EWR           Newark Airport          EWR
1        1           2         Queens              Jamaica Bay    Boro Zone
2        2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3        3           4      Manhattan            Alphabet City  Yellow Zone
4        4           5  Staten Island            Arden Heights    Boro Zone
..     ...         ...            ...                      ...          ...
260    260         261      Manhattan       World Trade Center  Yellow Zone
261    261         262      Manhattan           Yorkville East  Yellow Zone
262    262         263      Manhattan           Yorkville West  Yellow Zone
263    263         264        Unknown                       NV         None
264    264         265        Unknown                     None         None

[265 rows x 5 columns]